@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #ECE3CE;
}

body{
    background-color: #20382c;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
    background-color: darkslategrey;
}

/* .navbar h2{
    color: #ECE3CE;
} */

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    padding: 10px;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 16px;
}